* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
}

.App {
  text-align: center;
}

.UserSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}

a{
  text-decoration: none;
  padding: 0;
  color: #198754;
}

a:hover{
  color: white;
}
