*{
    margin: 0;
    padding: 0;
  }
  
  html,
  body{
    font-size: 16px;
  }

  .App{
    text-align: center;
  }

  .UserSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
  }