.AddContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AmountContainer{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.Amount{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.Button{
    padding: 15px;
    border: 1px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
}


.Button:hover{
    background-color: #f8f4f4;
}

.Container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}