.AddContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AmountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.Amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.Button {
  padding: 15px;
  border: 1px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.Button:hover {
  background-color: #f8f4f4;
}

.Container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.Button {
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid #198754;
  color: #198754;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.Button:hover {
  border: 1px solid #198754;
  color: white;
  background-color: #198754;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  margin-top: 80px;
}
